a {
	outline: none;
}

.navbar-container {
	text-align: center;
	background-color: #f7f7f7!important;
	font-size: 0;
}

.navbar-container ul {
	margin: 0;
	padding: 0;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
}

.navbar-container ul li {
	display: inline-block;
	font-size: 16px;
}

.navbar-container ul li a {
	color: #212529;
	text-decoration: none;
	display: inline-block;
	padding: 10px;
	transition: color 0.5s;
}

.navbar-container ul li .underline {
	height: 3px;
	background-color: transparent;
	width: 0;
	transition: width 0.2s, background-color 0.5s;
	margin: 0 auto;
}

.navbar-container ul li.active-link .underline {
	width: 100%;
	background-color: #5d6468;
}

.navbar-container ul li:hover .underline {
	background-color: #5d6468;
	width: 100%;
}

.navbar-container ul li:hover a {
}

.navbar-container ul li:active a {
	transition: none;
	color: #5d6468;
}

.navbar-container ul li:active .underline {
	transition: none;
	background-color: #5d6468;
}
.nav-link{
	text-transform: uppercase;
	font-size: small;
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
}

.navbar-nav > li{
	padding-left:25px;
}
