body {
	font-family: Raleway, sans-serif;
	background-image: url("../img/home_CA_bg.svg");
	background-attachment: fixed;
	background-size: cover;
}

.dataTables_filter { display: none; }

.table-head {
	color: #1C344D;
}

.odd {
}

.success-box {

}

.search-box {
	height: 28px;
	width: auto;
	border-radius: 9px;
}
.card {
	border-radius: 16px;
}

.card-header {
	border-top-left-radius: 16px!important;
	border-top-right-radius: 16px!important;
	font-weight: 600;
	font-size: 18px;
	background-color: #0288d1;
	border: none;
	color: #fff;
}

.fa-user-plus {
	font-size: 21px!important;
	color: #f1f1f1;
}

.btn-add {
	background-color: #0288d1;
	border-radius: 16px;
	color: #fff;
	/*padding: 12px;*/
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2.3px;
	padding: 10px 20px !important;
	/border: 0;
	box-shadow: none !important;
}

.btn-add:hover {
	background-color: #02a3ef;
	border-radius: 16px;
	color: #fff;
}

tr.shown {
	background-color: #02a3ef!important;
	color:#fff!important;
}

.table-child-row {
}

.btn-cancel {
	border-radius: 16px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2.3px;
	padding: 10px 20px !important;
	border: 0;
	box-shadow: none !important;
}

.input-group > .input-group-prepend > .input-group-text {
	border-radius: .25rem;
}
